
.footer{
    text-align: right;
    margin-top: 15%;
    margin-bottom: 1%;
}

ul li{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
}


/*
footer ul li{
    text-align: right !important;
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    /*padding-left: 72%;*/
/*}

li:hover{
    text-decoration: underline;
}
*/
